This package relies on **[astroquery.NIST](https://astroquery.readthedocs.io/en/latest/nist/nist.html)** for querying spectral line data, so it takes similar arguments. All data querying, processing, and formatting happens within a class called ```NIST_lines```. To pull all data for a single element, you just need to create an instance of this class with the desired elemental symbol as an argument.

In [29]:
import ASDtools as asdt

lines = asdt.NIST_lines("He", update=False)
lines.df.head()

,Element,Observed (nm),Ritz (nm),Transition Type,Rel.,Ei (eV),Ek (eV),Aki,gi,gk,S,Acc.,Lower level,Upper level
0,He II,NaN,23.434716,E1,NaN,0.0,52.906209,3.158600e+08,2.0,4.0,0.000008,AA,1s | 2S | 1/2,6p | 2P* | 3/2
1,He II,NaN,23.434728,E1,NaN,0.0,52.906182,3.158300e+08,2.0,2.0,0.000004,AA,1s | 2S | 1/2,6p | 2P* | 1/2
2,He II,NaN,23.733066,E1,NaN,0.0,52.241121,5.503600e+08,2.0,4.0,0.000015,AA,1s | 2S | 1/2,5p | 2P* | 3/2
3,He II,NaN,23.733088,E1,NaN,0.0,52.241074,5.503300e+08,2.0,2.0,0.000007,AA,1s | 2S | 1/2,5p | 2P* | 1/2
4,He II,NaN,24.302644,E1,NaN,0.0,51.016752,1.091700e+09,2.0,4.0,0.000031,AA,1s | 2S | 1/2,4p | 2P* | 3/2

If you want to narrow your query to a specific set of ionizations across a limited wavelength range, that is also possible!

In [41]:
import astropy.units as u

lines = asdt.NIST_lines(["O I", "O II", "O IV"], 
                        lower_wavelength=300*u.nm, 
                        upper_wavelength=700*u.nm, 
                        update=False)
lines.df.head()

,Element,Observed (nm),Ritz (nm),Transition Type,Rel.,Ei (eV),Ek (eV),Aki,gi,gk,S,Acc.,Lower level,Upper level
0,O I,NaN,329.99396,E1,NaN,12.358865,16.116031,143000.0,3.0,1.0,0.000003,D,2s2.2p3.(4S*).4p | 3P | 1,2s2.2p3.(2D*<3/2>).4d | 3P* | 0
1,O I,NaN,330.05026,E1,NaN,12.358865,16.115390,35700.0,3.0,3.0,0.000002,D,2s2.2p3.(4S*).4p | 3P | 1,2s2.2p3.(2D*<3/2>).4d | 3P* | 1
2,O I,NaN,330.05114,E1,NaN,12.358875,16.115390,59500.0,5.0,3.0,0.000003,C,2s2.2p3.(4S*).4p | 3P | 2,2s2.2p3.(2D*<3/2>).4d | 3P* | 1
3,O I,NaN,330.05397,E1,NaN,12.358907,16.115390,47600.0,1.0,3.0,0.000003,D,2s2.2p3.(4S*).4p | 3P | 0,2s2.2p3.(2D*<3/2>).4d | 3P* | 1
4,O I,NaN,330.15251,E1,NaN,12.358865,16.114226,35700.0,3.0,5.0,0.000003,C,2s2.2p3.(4S*).4p | 3P | 1,2s2.2p3.(2D*<3/2>).4d | 3P* | 2